{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-4">
    <!-- عرض الرسائل -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    
    {% block port_content %}
    {% endblock %}
</div>
{% endblock %} 